{{outlet}}
<div class="">
{{question-detail question=model.question updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
</div>
<hr>
<div class="">
  <ul>
    {{#each model.question.answers as |answer|}}
    {{answer-detail answer=answer}}
    {{/each}}
  </ul>
  {{new-answer saveAnswer="saveAnswer" question=model.question}}
</div>
